*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# 构建产物
**/build/
.kotlin/
.shotcraft/
.superpowers/

# 小程序
miniprogram/node_modules/
miniprogram/miniprogram_npm/

# 预览二维码等临时产物
preview-qr*.png
miniprogram/.tmp/
