* text=auto eol=lf

# Gradle
*.gradle.kts   text eol=lf
*.properties   text eol=lf
gradlew        text eol=lf
gradlew.bat    text eol=crlf

# Kotlin
*.kt           text eol=lf
*.kts          text eol=lf
*.java         text eol=lf

# 二进制
*.png          binary
*.jpg          binary
*.jpeg         binary
*.webp         binary
*.zip          binary
*.jar          binary
*.aar          binary
*.keystore     binary
*.m4a          binary
